@import "./base.scss";

.container {
  display: grid;
  gap: 1rem;

  @include for-big-desktop-up {
    padding: 0 10rem;

  }
}

.word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .letter {
    display: flex;
    width: 10%;
    aspect-ratio: 1/1;
    border: 4px solid $blue;
    border-radius: 20%;
    background-color: $ciano;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;

    @include for-tablet-landscape-up {
      width: 5%;
    }

    @include for-phone-only {
      width: 15%;
    }

    &.correct {
      background-color: $green;
    }

    &.incorrect {
      background-color: $red;
    }

    &.has-letter {
      background-color: $yellow;
    }
  }
}
