@import "./base.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4px   ;
  gap: 4px;

  .row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
    width: 60%;

    @include for-tablet-landscape-up {
      width: 40%;
    }

    @include for-phone-only {
      width: auto;
    }

    &.last {
      grid-template-columns: repeat(8, 1fr);
      width: 55%;

      @include for-tablet-landscape-up {
        width: 35%;
      }

      @include for-phone-only {
        width: auto;
      }
    }

    .letter {
      aspect-ratio: 2/1;
      background-color: $blue;
      color: white;
      font-size: 1.5rem;

      img {
        min-height: 16px;
      }

      &.correct {
        background-color: $green;
      }

      &.incorrect {
        background-color: $red;
      }
    }
  }
}
